body {
	font-family: OCR-A, monospace;
	font-size: 1em;
	color:#eeeeee;
	background-color:#555555;
	/*
	width:80%;
	margin:0 auto;
	*/
}
header {
	color:#555555;
	background-color:#eeeeee;
	border-radius:15px;
	text-align:center;
	margin: 10px;
}
#massConverterBttn, #DL{
	font-family: OCR-A, monospace;
	font-size:1em;
}
#fileinput label, input[type=button] {
	background-color: #5555ee;
	padding:.25em;
	color: white;
	border-radius: 5px;
	border: 1px ridge black;
	height: auto;
}

#fileinput label:hover, input[type=button]:hover {
	background-color: #ee5555;
	color: white;
}
.side {
	box-sizing: border-box;
	width: calc(33% - 15px);
	display: inline-block;
	border-radius:15px;
	margin: 10px;
	padding: 5px;
	float: left;
	background-color:#eeeeee;
	color:#555555;
}